.op-button-wrapper {
  display: inline-block; /* Keep buttons on the same line */
}

/* Hide the actual radio button */
.op-radio-input {
  display: none;
}

.op-button-label {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Circle button :D */

  /* Center the operator symbol */
  display: flex;
  justify-content: center;
  align-items: center;

  font: inherit;
  font-size: 20px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #000000;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.op-radio-input:checked + .op-button-label {
  color: #ffffff;
  background-color: #1d87d8;
  border-color: #1d87d8;
}
